.vue-body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    overflow: hidden;
    color: white;
}

a {
    text-decoration: none;
}