body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    overflow: hidden;
}

.ln-bkg-darker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    transition-duration: 0.2s;
}

.ln-bkg-darker::before {
    position: absolute;
    font-size: 1.5vw;
    font-weight: lighter;
    z-index: 999;
    content: "Powered by Microsoft Bing";
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition-duration: 0.2s;
    margin-left: 5vh;
    bottom: 5vh;
}

.ln-bkg-darker:hover .ln-bkg-img {
    opacity: 0.7;
}

.ln-bkg-darker:hover:before {
    opacity: 1;
}

.ln-bkg-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition-duration: 0.2s;
}

.ln-box {
    width: 50vw;
    max-width: 550px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.ln-box-float {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .ln-box-float {
        width: 100%;
    }

    .ln-box {
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: none;
    }
    
}

.ln-box-ipt {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ln-title {
    font-size: 5vh;
    text-wrap: nowrap;
    font-family: apex-bold;
}

.ln-title-ver {
    font-size: 2vh;
    text-wrap: nowrap;
    margin-bottom: 10px;
    font-family: apex-light;
    opacity: 0.6;
}

.ln-ipt {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 200px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    outline: none;
    border: 1px solid rgb(195, 195, 195);
}

.ln-ipt::placeholder {
    font-family: apex;
    color: rgb(195, 195, 195);
}

.ln-ipt:hover {
    background-color: rgb(215, 215, 215);
}

.ln-ipt:focus {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(120, 120, 120);
}

.ln-box-btns {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ln-red {
    color: rgb(228, 68, 68);
}

.ln-regu {
    font-family: apex;
}

.ln-btns {
    cursor: pointer;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background: none;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    font-size: 2vh;
    font-family: apex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ln-reg::before {
    content: "SIGNUP";
    transition: margin-left 0.4s;
}

.ln-log::before {
    content: "LOGIN";
    transition: margin-left 0.4s;
}

.ln-btns:hover:before {
    margin-left: calc(100% - 70px);
}

.ln-btns:hover {
    background-color: rgb(228, 68, 68);
    color: white;
}

.ln-btns:active {
    transition-duration: 0s;
    background-color: rgb(164, 48, 48);
}

.ln-noti {
    font-family: apex-light;
}